<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="wrapper">
    <h1 class="main">Modifier une image</h1>

    <app-form
      [formGroup]="baseForm.formGroup"
      [errors]="baseForm.getErrors(baseForm.formGroup)"
    >
      <app-input
        [label]="baseForm.formLabels['image']['name']"
        [control]="baseForm.name"
        [errors]="baseForm.getErrors(baseForm.name)"
      >
        <input type="text" [formControl]="baseForm.name">
      </app-input>

      <app-input
        [label]="baseForm.formLabels['image']['file']"
        [control]="baseForm.file"
        [errors]="baseForm.getErrors(baseForm.file)"
      >
        <input
          type="file"
          accept=".png, .jpg, .jpeg"
          (change)="baseForm.onChangeFile($event)"
        >
      </app-input>

      <div class="flex justify-between gap-ios">
        <app-submit-button
          label="Modifier"
          [loading]="baseForm.locked"
          (submit)="update()"
        ></app-submit-button>

        <div class="flex gap-ios">
          <ion-button
            color="dark"
            [disabled]="baseForm.locked"
            (click)="baseForm.reset(image)"
          >
            Réinitialiser
          </ion-button>
          <ion-button
            color="danger"
            [disabled]="baseForm.locked"
            (click)="delete()"
          >
            Supprimer
          </ion-button>
        </div>
      </div>
    </app-form>
  </div>
</ion-content>
