<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="wrapper" *ngIf="typeService.loaded()">
    <h1 class="main">Ajouter un énumérateur</h1>

    <app-form
      [formGroup]="baseForm.formGroup"
      [errors]="baseForm.getErrors(baseForm.formGroup)"
      *ngIf="typeService.enumerableSelectList$ | async as typeList"
    >
      <app-input
        [label]="baseForm.formLabels['enumerator']['name']"
        [control]="baseForm.name"
        [errors]="baseForm.getErrors(baseForm.name)"
      >
        <input type="text" [formControl]="baseForm.name">
      </app-input>

      <app-input
        [label]="baseForm.formLabels['enumerator']['description']"
        [control]="baseForm.description"
        [errors]="baseForm.getErrors(baseForm.description)"
      >
        <textarea [formControl]="baseForm.description"></textarea>
      </app-input>

      <app-input
        [label]="baseForm.formLabels['enumerator']['typeId']"
        [control]="baseForm.typeId"
        [errors]="baseForm.getErrors(baseForm.typeId)"
      >
        <app-select
          [control]="baseForm.typeId"
          [label]="baseForm.formLabels['enumerator']['typeId']"
          [required]="true"
          [valueList]="typeList"
          (change)="baseForm.clearValueList()"
        ></app-select>
      </app-input>

      <app-enumerator-input-value-list
        [baseForm]="baseForm"
      ></app-enumerator-input-value-list>

      <app-submit-button
        label="Ajouter"
        [loading]="baseForm.locked"
        (submit)="create()"
      ></app-submit-button>
    </app-form>
  </div>
</ion-content>
