<app-header> </app-header>

<ion-content [fullscreen]="true">
  <div class="wrapper">
    <h1 class="main">Ajouter un groupe</h1>

    <app-form
      [formGroup]="baseForm.formGroup"
      [errors]="baseForm.getErrors(baseForm.formGroup)"
    >
      <app-input [label]="baseForm.formLabels['group']['parentId']">
        <app-select
          [required]="true"
          [label]="baseForm.formLabels['group']['parentId']"
          [valueList]="groupSelectValueList()"
          [control]="baseForm.parentId"
        ></app-select>
      </app-input>
      
      <app-input
        [label]="baseForm.formLabels['group']['name']"
        [control]="baseForm.name"
        [errors]="baseForm.getErrors(baseForm.name)"
      >
        <input type="text" [formControl]="baseForm.name">
      </app-input>

      <app-input
        [label]="baseForm.formLabels['group']['description']"
        [control]="baseForm.description"
        [errors]="baseForm.getErrors(baseForm.description)"
      >
        <textarea [formControl]="baseForm.description"></textarea>
      </app-input>

      <app-submit-button
        label="Ajouter"
        [loading]="baseForm.locked"
        (submit)="create()"
      ></app-submit-button>
    </app-form>
  </div>
</ion-content>
