<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="wrapper" *ngIf="form$ | async as form">
    <header>
      <h2>
        {{ form.name }} <ion-badge color="light">#{{ form.id }}</ion-badge>
      </h2>
    </header>

    <div class="flex flex-col gap-2">
    @for(value of form.valueList; track $index) {
      <div class="flex gap-2">
        <div class="border border-black p-2 rounded">I : {{value.fieldId}}</div>
        <div class="border border-black p-2 rounded">V : {{value.value}}</div>
        <div class="border border-black p-2 rounded">U : {{value.unitValueId}}</div>
      </div>
      
    }
    </div>
  </div>
</ion-content>
