.mate-input {
    .label {
        @apply inline-block text-ionDark bg-ionLight-shade text-xs py-1 px-2 uppercase
        border  border-ionLight-shade font-bold;
        border-bottom: 0;
        margin-bottom: -1px;
    }

    ::ng-deep input,
    ::ng-deep textarea {
        @apply bg-ionLight-tint flex w-full p-ios outline-none border border-ionLight-shade;
        z-index: 0;
        border-radius: 0;
        
        &:disabled {
            @apply cursor-not-allowed;
        }
    }

    &.invalid {
        .label {
            @apply border-ionDanger bg-ionDanger text-white;
        }

        ::ng-deep input {
            @apply border-ionDanger bg-red-100;
        }
    }
}