<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="wrapper">
    <h1 class="main">Ajouter un champ</h1>

    <app-form
      [formGroup]="baseForm.formGroup"
      [errors]="baseForm.getErrors(baseForm.formGroup)"
      *ngIf="typeService.loaded()"
    >
      <app-input
        [label]="baseForm.formLabels['field']['groupId']"
        [errors]="baseForm.getErrors(baseForm.groupId)"
      >
        <app-select
          [control]="baseForm.groupId"
        ></app-select>
      </app-input>

      <app-input
        [label]="baseForm.formLabels['field']['name']"
        [control]="baseForm.name"
        [errors]="baseForm.getErrors(baseForm.name)"
      >
        <input type="text" [formControl]="baseForm.name">
      </app-input>

      <app-input
        [label]="baseForm.formLabels['field']['description']"
        [control]="baseForm.description"
        [errors]="baseForm.getErrors(baseForm.description)"
      >
        <textarea [formControl]="baseForm.description"></textarea>
      </app-input>

      <div class="flex gap-4">
        <app-input
          [label]="baseForm.formLabels['field']['isRequired']"
          [control]="baseForm.isRequired"
          [errors]="baseForm.getErrors(baseForm.isRequired)"
          class="w-1/2"
        >
          <ion-toggle [formControl]="baseForm.isRequired"></ion-toggle>
        </app-input>

        <app-input
          [label]="baseForm.formLabels['field']['allowMultipleValues']"
          [control]="baseForm.allowMultipleValues"
          [errors]="baseForm.getErrors(baseForm.allowMultipleValues)"
          class="w-1/2"
        >
          <ion-toggle [formControl]="baseForm.allowMultipleValues"></ion-toggle>
        </app-input>
      </div>

      <app-input
        [label]="baseForm.formLabels['field']['enumeratorId']"
        [control]="baseForm.enumeratorId"
        [errors]="baseForm.getErrors(baseForm.enumeratorId)"
      >
        <app-select
          [control]="baseForm.enumeratorId"
        ></app-select>
      </app-input>

      <app-input
        [label]="baseForm.formLabels['field']['typeId']"
        [control]="baseForm.typeId"
        [errors]="baseForm.getErrors(baseForm.typeId)"
      >
        <app-select
          [control]="baseForm.typeId"
        ></app-select>
      </app-input>

      <app-input
        [label]="baseForm.formLabels['field']['unitId']"
        [control]="baseForm.unitId"
        [errors]="baseForm.getErrors(baseForm.unitId)"
      >
        <app-select
          [control]="baseForm.unitId"
        ></app-select>
      </app-input>

      <app-submit-button
        label="Ajouter"
        [loading]="baseForm.locked"
        (submit)="create()"
      ></app-submit-button>
    </app-form>

    <!-- "form.allowMultipleValues.value ? 'multiple' : undefined" -->
  </div>
</ion-content>
