<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="wrapper">
    <h1 class="main">Ajouter une image</h1>

    <app-form
      [formGroup]="baseForm.formGroup"
      [errors]="baseForm.getErrors(baseForm.formGroup)"
    >
      <app-input
        [label]="baseForm.formLabels['image']['name']"
        [control]="baseForm.name"
        [errors]="baseForm.getErrors(baseForm.name)"
      >
        <input type="text" [formControl]="baseForm.name">
      </app-input>

      <app-input
        [label]="baseForm.formLabels['image']['file']"
        [control]="baseForm.file"
        [errors]="baseForm.getErrors(baseForm.file)"
      >
        <input
          #inputFile
          type="file"
          accept=".png, .jpg, .jpeg"
          (change)="baseForm.onChangeFile($event)"
        >
      </app-input>

      <app-submit-button
        label="Ajouter"
        [loading]="baseForm.locked"
        (submit)="create()"
      ></app-submit-button>
    </app-form>
  </div>
</ion-content>
