.mate-select {
    @apply bg-white flex w-full items-center p-ios outline-none border border-ionLight-shade cursor-pointer gap-ios;
    
    ion-icon {
        @apply ml-auto;
    }

    .mate-select-button {
        @apply w-full flex items-center gap-ios;
    }

    &.disabled {
        @apply cursor-not-allowed bg-ionLight-tint;
    }
}

.mate-select-modal ion-content {
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;

    .mate-select-button {
        @apply w-full border-b border-ionLight-shade flex p-ios hover:bg-ionLight cursor-pointer duration-300
        items-center gap-ios;

        &.selected {
            @apply text-ionPrimary font-bold;
        }

        &.disabled {
            @apply text-gray-500 cursor-not-allowed;
        }
    }
}
