<app-header></app-header>

<ion-content [fullscreen]="true" [scrollEvents]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="wrapper gap-ios" *ngIf="typeService.loaded()">
    <div>
      <ion-button
        (click)="navigationService.goToEnumeratorCreate()"
        [disabled]="!permissionService.hasPermission(permissionService.PERMISSION.enumerator.create)"
      >
        Ajouter
      </ion-button>
    </div>

    <ion-searchbar
      [debounce]="600"
      placeholder="Rechercher"
      (ionInput)="onSearch($event)"
    ></ion-searchbar>

    <div class="flex gap-ios">
      <app-type-filter [selection]="typeIdOption" (change)="refresh()"></app-type-filter>
    </div>

    <app-list
      [options]="list.options"
      (load)="loadNext($event)"
    >
      @for (item of list.items(); track $index) {
      <app-list-item [options]="item"></app-list-item>
      }
    </app-list>
  </div>
  
  <app-scroll-top-button [content]="content"></app-scroll-top-button>
</ion-content>
