<app-header></app-header>

<ion-content [fullscreen]="true" [scrollEvents]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="wrapper gap-ios" *ngIf="typeService.loaded()">
    <div>
      <ion-button
        (click)="navigationService.goToEnumeratorCreate()"
        [disabled]="!permissionService.hasPermission(permissionService.PERMISSION.enumerator.create)"
      >
        Ajouter
      </ion-button>
    </div>

    <ion-searchbar
      [debounce]="1000"
      placeholder="Rechercher"
      (ionInput)="search($event)"
    ></ion-searchbar>

    <div class="flex gap-ios" *ngIf="typeService.enumerableFilterList$ | async as typeList">
      <app-filter
        label="Type"
        [control]="typeIdOption"
        [valueList]="typeList"
        (change)="refresh()"
      ></app-filter>
    </div>

    <app-infinite-scroll
      [options]="options"
      (load)="load($event)"
    ></app-infinite-scroll>
  </div>
  
  <app-scroll-top-button [content]="content"></app-scroll-top-button>
</ion-content>
