<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="wrapper" *ngIf="unit$ | async as unit">
    <header>
      <h2>
        {{ unit.name }} <ion-badge color="light">#{{ unit.id }}</ion-badge>
      </h2>
      <ion-button
        (click)="navigationService.goToUnitEdit(unit.id)"
        [disabled]="!permissionService.hasPermission(permissionService.PERMISSION.unit.update)"
      >
        Éditer
      </ion-button>
    </header>
    <div class="flex flex-col gap-ios">
      <app-input
        [label]="baseForm.formLabels['unit']['description']"
        [control]="baseForm.name"
        [errors]="baseForm.getErrors(baseForm.name)"
      >
        <textarea [value]="baseForm.name.value" disabled></textarea>
      </app-input>

      <h3>Valeurs</h3>

      <div class="valueList">
        @for(value of unit.valueList; track $index) {
        <div class="value">
          <p class="label">
            {{ $index + 1 }}
          </p>
          <p class="content">{{ value.value }}</p>
        </div>
        } @if(unit.valueList.length === 0) {
        <p class="text-ionDark p-ios text-base">Aucune valeur</p>
        }
      </div>
    </div>
  </div>
</ion-content>
