<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="wrapper gap-ios" *ngIf="image$ | async as image">
    <app-edit-title
      [title]="image.name"
      [id]="image.id"
      (onClick)="navigationService.goToImageEdit(image.id)"
      [buttonDisabled]="!permissionService.hasPermission(permissionService.PERMISSION.image.update)">
    </app-edit-title>

    <div class="flex">
      <a href="{{ image.url }}" target="_blank">
        <img
          src="{{ image.url }}"
          class="max-h-96 hover:opacity-90 duration-300 rounded-sm"
        >
      </a>
    </div>
  </div>
</ion-content>
