<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="wrapper">
    <h1 class="main">Modifier un énumérateur</h1>

    <form [formGroup]="form.formGroup" class="form">
      <ion-input
        [formControl]="form.name"
        type="text"
        [label]="form.labelGroup.name"
        [errorText]="form.errorOf(form.name)"
      ></ion-input>

      <ion-textarea
        [formControl]="form.description"
        type="text"
        [label]="form.labelGroup.description"
        [errorText]="form.errorOf(form.description)"
      ></ion-textarea>

      <app-select-type
        [control]="form.typeId"
        [label]="form.labelGroup.typeId"
        [required]="true"
        only="enumerable"
      ></app-select-type>

      <app-input-value-list [form]="form"></app-input-value-list>

      <div class="flex justify-between gap-ios">
        <app-submit-button
          [enabled]="form.formGroup.enabled"
          (submit)="update()"
          label="Modifier"
        ></app-submit-button>

        <div class="flex gap-ios" *ngIf="form.formGroup.enabled">
          <ion-button (click)="form.reset()" color="dark"
          >Réinitialiser</ion-button>

          <ion-button (click)="delete()" color="danger">Supprimer</ion-button>
        </div>
      </div>
    </form>
  </div>
</ion-content>
