// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


:root {
    --ion-background-color: #e4e9f5; // gray-default
    --ion-text-color: #2f2f2f; // black-default
}

ion-searchbar.ios {
    @apply bg-white p-2 rounded-xl;
    --background: white;
    --border-radius: 0;
}