<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="wrapper">
    <h1 class="main">Ajouter une unité</h1>

    <form [formGroup]="form.formGroup" class="form">
      <div *ngIf="form.errorOf(form.formGroup)" class="f-error">
        <p>{{ form.errorOf(form.formGroup) }}</p>
      </div>

      <ion-input
        [formControl]="form.name"
        type="text"
        [label]="form.labelGroup.name"
        [errorText]="form.errorOf(form.name)"
      ></ion-input>

      <ion-textarea
        [formControl]="form.description"
        type="text"
        [label]="form.labelGroup.description"
        [errorText]="form.errorOf(form.description)"
      ></ion-textarea>

      <app-input-value-list [form]="form"></app-input-value-list>

      <app-submit-button
        [enabled]="form.formGroup.enabled"
        (submit)="create()"
        label="Ajouter"
      ></app-submit-button>
    </form>
  </div>
</ion-content>
