<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="wrapper gap-ios" *ngIf="template() as template">
    <app-edit-title
      [title]="title()"
      [id]="group()?.id"
      (onClick)="goToEditor()">
    </app-edit-title>

    <div class="flex flex-col gap-ios">
      <app-group-filter
        label="Navigation Rapide"
        [template]="template"
        [selection]="fastTravelSelection"
        (change)="goToGroup($event)"
      >
      </app-group-filter>

      <app-input label="Description" *ngIf="descriptionControl.value">
        <textarea [value]="descriptionControl.value" disabled></textarea>
      </app-input>
    </div>

    <!-- GROUP --->

    <div class="flex flex-col border border-ionLight-shade">
      <div
        class="flex gap-ios justify-between items-center border-b border-ionLight-shade bg-ionLight p-ios"
      >
        <h3 class="uppercase">Groupes</h3>

        <ion-button
          fill="outline"
          class="bg-white"
          (click)="navigationService.goToTemplateGroupCreate(template.id, group()?.id)"
        >
          Ajouter
        </ion-button>
      </div>

      <app-list [options]="groupList.options">
        @for (item of groupList.items(); track $index) {
        <app-list-item [options]="item"></app-list-item>
        }
      </app-list>
    </div>

    <!-- FIELD --->

    <div
      class="flex flex-col border border-ionLight-shade"
      *ngIf="group() as group"
    >
      <div
        class="flex gap-ios justify-between items-center border-b border-ionLight-shade bg-ionLight p-ios"
      >
        <h3 class="uppercase">Champs</h3>

        <ion-button
          fill="outline"
          (click)="navigationService.goToTemplateFieldCreate(group.id)"
        >
          Ajouter
        </ion-button>
      </div>

      <app-list [options]="fieldList.options">
        @for (item of fieldList.items(); track $index) {
        <app-list-item [options]="item"></app-list-item>
        }
      </app-list>
    </div>
  </div>
</ion-content>
