<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="wrapper" *ngIf="template() as t">
    <header>
      <h2>{{ title() }}</h2>

      <ion-button
        (click)="goToEditor()"
      >
        Éditer
      </ion-button>
    </header>

    <div class="flex flex-col mb-7 gap-ios">
      <app-input label="Navigation rapide">
        <app-select
          [required]="true"
          label="NAVIGATION RAPIDE"
          [valueList]="groupSelectValueList()"
          [control]="groupIdControl"
          (change)="moveToGroup($event)"
        ></app-select>
      </app-input>

      <app-input label="Description" *ngIf="descriptionControl.value">
        <textarea [value]="descriptionControl.value" disabled></textarea>
      </app-input>
    </div>

    <header>
      <h3>Groupes</h3>

      <div class="flex gap-ios mb-ios justify-between">
        <ion-button
          fill="outline"
          (click)="navigationService.goToTemplateGroupCreate(t.id, group()?.id)"
        >
          Ajouter
        </ion-button>
      </div>
    </header>

    <app-infinite-scroll [options]="groupOptions"></app-infinite-scroll>

    <header *ngIf="group() as g">
      <h3>Champs</h3>

      <div class="flex gap-ios mb-ios justify-between">
        <ion-button
          fill="outline"
          (click)="navigationService.goToTemplateFieldCreate(g.id)"
        >
          Ajouter
        </ion-button>
      </div>
    </header>

    <app-infinite-scroll
      *ngIf="group() as g"
      [options]="fieldOptions"
    ></app-infinite-scroll>
  </div>
</ion-content>
