<div class="ordered-list">
  <div class="flex">
    <label class="ordered-list-label">{{ label() }}</label>
  </div>
  <div class="ordered-list-content">
    @for (control of baseForm.groupList.controls; track $index) {
      <app-input
        class="value"
        [class.invalid]="(control.touched || control.dirty) && control.invalid"
        [control]="control"
        [errors]="baseForm.getErrors(control)"
        label="{{$index + 1}}"
      >
        <input [formControl]="control" type="text" disable />

        <div class="value-buttons" *ngIf="baseForm.groupList.controls.length > 1">
          <div class="flex">
            @if ($index > 0) {
              <ion-button
                fill="clear"
                size="small"
                (click)="baseForm.moveGroupUp($index)"
              >
                <ion-icon name="arrow-up"></ion-icon>
              </ion-button>
            }

            @if ($index < this.baseForm.groupList.length - 1) {
              <ion-button
                fill="clear"
                size="small"
                (click)="baseForm.moveGroupDown($index)"
              >
                <ion-icon name="arrow-down"></ion-icon>
              </ion-button>
            }
          </div>
        </div>
      </app-input>
    }

    @if(baseForm.groupList.controls.length === 0) {
      <p class="text-ionDark p-ios text-base">Aucun groupe</p>
    }
  </div>
</div>
