.mate-input {
    .label {
        @apply inline-block text-ionDark bg-ionLight-shade text-xs py-1 px-2 uppercase
        border  border-ionLight-shade font-bold;
        border-bottom: 0;
        margin-bottom: -1px;
    }

    ::ng-deep input,
    ::ng-deep textarea {
        @apply bg-white flex w-full p-ios outline-none border border-ionLight-shade;
        z-index: 0;
        border-radius: 0;
        
        &:disabled,
        &.disabled {
            @apply cursor-not-allowed bg-ionLight-tint;
        }
    }

    ::ng-deep ion-toggle {
        @apply bg-white flex p-ios outline-none border border-ionLight-shade opacity-100;

        &.disabled {
            @apply cursor-not-allowed bg-ionLight-tint;
        }
    }

    &.invalid {
        .label {
            @apply border-ionDanger bg-ionDanger text-white;
        }

        ::ng-deep input,
        ::ng-deep textarea {
            @apply border-ionDanger bg-red-50;
        }
    }
}