<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="wrapper" *ngIf="template() as template">
    <h1 class="main">{{ headerService.title }}</h1>

    <app-form
      [formGroup]="baseForm.formGroup"
      [errors]="baseForm.getErrors(baseForm.formGroup)"
    >
      <app-input
        [label]="baseForm.formLabels['form']['name']"
        [control]="baseForm.name"
        [errors]="baseForm.getErrors(baseForm.name)"
      >
        <input type="text" [formControl]="baseForm.name">
      </app-input>

      <app-form-group
        [baseForm]="baseForm"
        [template]="template"
      ></app-form-group>

      <app-submit-button
        label="Ajouter"
        [loading]="baseForm.locked"
        (submit)="create()"
      ></app-submit-button>
    </app-form>
  </div>
</ion-content>
