<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="wrapper" *ngIf="template() as t">
    <h1 class="main">Ajouter un "{{t.name}}"</h1>

    <app-form-group-summary
      [form]="form"
      [activeGroupId]="activeGroupId"
    ></app-form-group-summary>

    <form class="form" *ngIf="activeSection() as section">
      @if(activeGroupId() === 0) {
      <ion-input
        [formControl]="form.getTemplateSection().name"
        type="text"
        class="mt-8 flex-col gap-4"
        [label]="form.getTemplateSection().labelGroup.name"
        [errorText]="section.errorOf(form.getTemplateSection().name)"
      ></ion-input>
      } @else {
      <app-form-group-content
        [fgroup]="form.getGroupSection(activeGroupId())"
      ></app-form-group-content>
      }

      <app-submit-button
        [enabled]="form.lock() === false"
        (submit)="create()"
        label="Ajouter"
      ></app-submit-button>
    </form>
  </div>
</ion-content>
