
@if(options.items.length) {
  <ion-list>
    @for (item of options.items; track $index) {
      <ion-item button (click)="click(item)" lines="full">
        <ion-avatar aria-hidden="true" slot="start" *ngIf="item.image">
          <img [alt]="item.label" [src]="item.image" loading="lazy" />
        </ion-avatar>
        <ion-label>
          <h3>{{ item.label }}</h3>
          <p *ngIf="item.description">{{ item.description }}</p>
        </ion-label>
      </ion-item>
    }
  </ion-list>
} @else {
  <div class="flex justify-center p-ios rounded-ios">
  @if(options.pageIndex === 1 && !options.isComplete()) {
    @if(options.errorMessage()) {
      <p>{{ options.errorMessage() }}</p>
    } @else {
      <div class="flex flex-col gap-4 justify-center items-center">
      <p>Veuillez patienter un instant...</p>
        <ion-spinner></ion-spinner>
      </div>
    }
  } @else {
    <p>Aucun résultat.</p>
  }
  </div>
}

<div class="mt-4">
  @if (!options.isLoading() && !options.isComplete()) {
    <ion-button (click)="loadMore()"
                color="dark"
                [disabled]="options.isLoading()">
      <ion-icon icon="arrow-down"
                class="mr-ios"></ion-icon>
      Charger plus d'éléments
    </ion-button>
  }
</div>

<ion-infinite-scroll (ionInfinite)="loadMore($event)" *ngIf="!options.isComplete()">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>