@if (form) {
  <div class="flex flex-col">
    <div
      class="
        border-b border-ionLight-shade py-ios
        flex gap-ios items-center flex-wrap cursor-pointer w-full
      "
      (click)="isActive.set(true)"
    >
      <div
        [class.red]="form.formMapValidation[active()?.sectionId ?? 0] === false"
        class="mate-circle ml-2"
      >
      </div>
      <p>{{ active()?.sectionName }}</p>
      <ion-icon name="chevron-expand" class="ml-auto mr-ios"></ion-icon>
    </div>
  </div>

  <ion-modal [isOpen]="isActive()" (willDismiss)="isActive.set(false)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>-</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isActive.set(false)">
              <ion-icon
                slot="icon-only"
                name="close"
              ></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          @for (section of form.sections; track $index) {
            <ion-item
              button
              lines="full"
              (click)="select(section.sectionId)"
              [class.mate-selected]="section.sectionId === activeGroupId()"
            >
              <div
                class="mate-circle"
                [class.red]="form.formMapValidation[section.sectionId] === false"
              >
              </div>
              <ion-label>
                <h3>{{ section.sectionName }}</h3>
              </ion-label>
            </ion-item>
          }</ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
}
