<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="wrapper gap-ios" *ngIf="field$ | async as field">
    <app-edit-title
      [id]="field.id"
      [title]="field.name"
      (onClick)="navigationService.goToTemplateFieldEdit(baseForm.groupId.value, field.id)"
    ></app-edit-title>

    <app-input
      [label]="baseForm.formLabels['field']['groupId']"
      [errors]="baseForm.getErrors(baseForm.groupId)"
    >
      <app-group-select
        *ngIf="template() as template"
        [template]="template"
        [control]="baseForm.groupId"
        [required]="true"
      ></app-group-select>
    </app-input>

    <app-input
      [label]="baseForm.formLabels['field']['name']"
      [control]="baseForm.name"
      [errors]="baseForm.getErrors(baseForm.name)"
    >
      <input type="text" [formControl]="baseForm.name">
    </app-input>

    <app-input
      [label]="baseForm.formLabels['field']['description']"
      [control]="baseForm.description"
      [errors]="baseForm.getErrors(baseForm.description)"
    >
      <textarea [formControl]="baseForm.description"></textarea>
    </app-input>

    <div class="flex gap-4">
      <app-input
        [label]="baseForm.formLabels['field']['isRequired']"
        [control]="baseForm.isRequired"
        [errors]="baseForm.getErrors(baseForm.isRequired)"
        class="w-1/2"
      >
        <ion-toggle
          [formControl]="baseForm.isRequired"
          [class.disabled]="baseForm.isRequired.disabled"
        ></ion-toggle>
      </app-input>

      <app-input
        [label]="baseForm.formLabels['field']['allowMultipleValues']"
        [control]="baseForm.allowMultipleValues"
        [errors]="baseForm.getErrors(baseForm.allowMultipleValues)"
        class="w-1/2"
      >
        <ion-toggle
          [formControl]="baseForm.allowMultipleValues"
          [class.disabled]="baseForm.allowMultipleValues.disabled"
        ></ion-toggle>
      </app-input>
    </div>

    <app-input
      *ngIf="baseForm.enumeratorId.value"
      [label]="baseForm.formLabels['field']['enumeratorId']"
      [control]="baseForm.enumeratorId"
    >
      <app-enumerator-select
        [control]="baseForm.enumeratorId"
        (change)="baseForm.changes()"
      ></app-enumerator-select>
    </app-input>

    <app-input
      [label]="baseForm.formLabels['field']['typeId']"
      [control]="baseForm.typeId"
    >
      <app-type-select
        [control]="baseForm.typeId"
        [required]="true"
      ></app-type-select>
    </app-input>

    <app-input
      [label]="baseForm.formLabels['field']['unitId']"
      [control]="baseForm.unitId"
      [errors]="baseForm.getErrors(baseForm.unitId)"
    >
      <app-unit-select
        [label]="baseForm.formLabels['field']['unitId']"
        [control]="baseForm.unitId"
      ></app-unit-select>
      {{ baseForm.unitId.value }}
    </app-input>
  </div>
</ion-content>
