<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="wrapper" *ngIf="enumerator$ | async as enumerator">
    <header>
      <h2>
        {{ enumerator.name }}
        <ion-badge color="light">#{{ enumerator.id }}</ion-badge>
      </h2>
      <ion-button
        (click)="navigationService.goToEnumeratorEdit(enumerator.id)"
        [disabled]="!permissionService.hasPermission(permissionService.PERMISSION.enumerator.update)"
      >
        Éditer
      </ion-button>
    </header>

    <div class="flex flex-col gap-ios">
      <app-input
        [label]="baseForm.formLabels['enumerator']['description']"
        [control]="baseForm.description"
        [errors]="baseForm.getErrors(baseForm.description)"
      >
        <textarea [value]="baseForm.description.value" disabled></textarea>
      </app-input>

      <h3>Valeurs</h3>



      <div class="valueList">
        @for(value of enumerator.valueList; track $index) {
        <div class="value">
          <p class="label">
            {{ $index + 1 }}
          </p>
          @if(baseForm.typeId.value === typeEnum.DATE) {
            <p class="content">{{ value.value | formatDate }}</p>
          } @else {
            <p class="content">{{ value.value }}</p>
          }
        </div>
        } @if(enumerator.valueList.length === 0) {
        <p class="text-ionDark p-ios text-base">Aucune valeur</p>
        }
      </div>
    </div>
  </div>
</ion-content>
