<ion-content [fullscreen]="true">
  <div class="wrapper">
    <h1 class="main">Page de connexion</h1>

    <app-form
      [formGroup]="baseForm.formGroup"
      [errors]="baseForm.getErrors(baseForm.formGroup)"
    >
      <app-input
        [label]="baseForm.formLabels['login']['username']"
        [control]="baseForm.username"
        [errors]="baseForm.getErrors(baseForm.username)"
      >
        <input type="text" [formControl]="baseForm.username">
      </app-input>

      <app-input
        [label]="baseForm.formLabels['login']['password']"
        [control]="baseForm.password"
        [errors]="baseForm.getErrors(baseForm.password)"
      >
        <input type="password" [formControl]="baseForm.password">
      </app-input>

      <app-submit-button
        label="Se connecter"
        [loading]="baseForm.locked"
        [disabled]="baseForm.formGroup.touched && baseForm.formGroup.invalid"
        (submit)="login()"
      ></app-submit-button>
    </app-form>
  </div>
</ion-content>
