<app-header></app-header>

<ion-content [fullscreen]="true" [scrollEvents]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="wrapper gap-ios">
    <div>
      <ion-button
        (click)="navigationService.goToImageCreate()"
        [disabled]="!permissionService.hasPermission(permissionService.PERMISSION.image.create)"
      >
        Ajouter
      </ion-button>
    </div>

    <ion-searchbar
      placeholder="Rechercher"
      [debounce]="1000"
      (ionInput)="search($event)"
    ></ion-searchbar>

    <app-infinite-scroll
      [options]="options"
      (load)="load($event)"
    ></app-infinite-scroll>
  </div>

  <app-scroll-top-button [content]="content"></app-scroll-top-button>
</ion-content>
