/****************************************************************/
/****************************************************************/
/* Ionic overrides                                              */
/****************************************************************/
/****************************************************************/

.ios {
    .ion-page>ion-content {
        --padding-start: 14px;
        --padding-end: 14px;
        --padding-top: 14px;
        --padding-bottom: 14px;
    }

    ion-searchbar {
        @apply p-0 min-h-5 border border-ionLight-shade bg-white;
        --border-radius: 0px;
        padding: 7px var(--ion-padding-ios);
        --background: transparent;
    }

    ion-toolbar {
        --background: var(--ion-color-light-tint);
    }
}

/****************************************************************/
/****************************************************************/
/* Mate                                                         */
/****************************************************************/
/****************************************************************/

body {
    @apply bg-white;
}

/*––––––––––––––––––––––––––––––*/
/* Html Elements                */
/*––––––––––––––––––––––––––––––*/

h1,
h2,
h3,
h4,
h5 {
    @apply font-bold;
}

h1 {
    @apply text-4xl tracking-widest;
}

h2 {
    @apply text-2xl tracking-wider;
}

h3 {
    @apply text-xl tracking-wide;
}

h4 {
    @apply text-lg tracking-normal;
}

h5 {
    @apply text-base tracking-normal;
}

h1.main {
    @apply py-7;
    @apply text-center;
}

.wrapper {
    @apply flex flex-col max-w-3xl mx-auto;
    @apply text-ionDark-shade;
}

/*––––––––––––––––––––––––––––––*/
/* ordered list                 */
/*––––––––––––––––––––––––––––––*/

.ordered-list {
    @apply flex flex-col;

    .ordered-list-label {
        @apply inline-block bg-ionLight-shade text-xs py-1 px-2 uppercase
        border  border-ionLight-shade font-bold;
        border-bottom: 0;
        margin-bottom: -1px;
    }

    .ordered-list-content {
        @apply flex flex-col gap-ios p-ios border border-ionLight-shade;
    }

    .value {
        @apply flex flex-col;
    
        .value-buttons {
            @apply flex justify-between border border-t-0 border-ionLight-shade;
        }
    
        &.invalid {
            .value-buttons {
                @apply border-ionDanger;
            }
        }
    }    
}

/*––––––––––––––––––––––––––––––*/
/* Back Log / Patch Notes       */
/*––––––––––––––––––––––––––––––*/

.backlog {
    @apply flex flex-col gap-ios;
    @apply text-sm;

    markdown {
        @apply flex flex-col gap-ios pb-ios;
        @apply bg-ionLight-tint;

        h2 {
            @apply bg-ionDark-shade text-ionLight-tint p-ios;
        }

        ul {
            @apply list-disc list-inside;

            ul {
                @apply ml-ios;
                list-style-type: circle;

                ul {
                    @apply ml-7;
                    list-style-type: square;
                }
            }
        }

        & > * {
            @apply px-ios;
        }

        code {
            @apply px-1;
            @apply bg-ionLight-shade text-xs rounded;
        }
    }
}
